<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91067160094-ftipucmf8i5t55fqjel7jdbm1ufgo3n7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91067160094-ftipucmf8i5t55fqjel7jdbm1ufgo3n7</string>
	<key>API_KEY</key>
	<string>AIzaSyB3wGuzYN9AiKR3GV-eOnv4XN3MxUPsn8w</string>
	<key>GCM_SENDER_ID</key>
	<string>91067160094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.visma.chatbot.Chatbot</string>
	<key>PROJECT_ID</key>
	<string>chatbot-d8a35</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbot-d8a35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91067160094:ios:4d0c0414ff31e65f0ac00f</string>
</dict>
</plist>